@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  width: calc(200% + 2rem);
}

.animate-scroll-reverse {
  animation: scroll-reverse 20s linear infinite;
  width: calc(200% + 2rem);
}

.animate-scroll:hover,
.animate-scroll-reverse:hover {
  animation-play-state: paused;
}